html, body {
  width: 100%;
  height: calc(100vh - 20px);
  margin: 0;
  background: #1e1e1e;
  color: #fff;
  font-size: 12px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

a {
  position:relative;
  color:#0cf;
  text-decoration:none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #08f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease 0s;
}

a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: solid 1px #ccc;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
  background: transparent;
  color: #fff;
  outline: none;
}
input[type="text"]:disabled, input[type="password"]:disabled {
  color: #eee;
}

input:-webkit-autofill {
  -webkit-transition: all 86400s;
  transition: all 86400s;
}

textarea {
  outline: none;
  background: transparent;
  color: #fff;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

pre {
  margin: 0;
  padding: 0;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

table {
  border-collapse: collapse;
}

td,th {
  padding: 2px 4px;
}

td {
  vertical-align: top;
}

table.edit-table {
  width: 100%;
}

.edit-table td {
  white-space: pre;
}

button, input[type="button"], input[type="submit"] {
  min-width: 45px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #fff;
  background: #06c;
  font-size: 12px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
  transition: all 0.2s ease;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  cursor: pointer;
  background: #0af;
  color: #fff;
  transition: all 0.2s ease;
}
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
  color: #aaa;
  background: #444;
}

.button-red {
  background: #a00;
}
.button-red:hover {
  background: #d55;
}

.button-small {
  height: 13px;
  min-width: 40px;
  font-size: 10px;
}

.text-red {
  color: #f88;
}

.text-skyblue {
  color: #0af;
}

.login-locked {
  color: #f44;
  font-weight: bold;
}

.item-list-header {
  background: #06c;
}

td.item-list,th.item-list {
  border: 1px solid #484848;
  white-space: nowrap;
}

tr.item-list:hover {
  background: #444;
}

.row-selected {
  background: #484848 !important;
}

.row-odd {
  background: #282828;
}

.row-even {
  background: #323232;
}

.edit-disabled {
  border: none !important;
  background: transparent;
}

.screen-button {
  min-width: 7em;
}

.screen-button-active {
  font-weight: bold;
}

.link-button {
  color: #c0f0ff;
}

.link-button-inactive {
  color: #888;
}

.sort-button {
  display: inline-block;
  line-height: 1em;
  color: #aaa;
  font-size: 8px;
}

.sort-button:hover {
  cursor: pointer;
}

.sort-active {
  color: #fff;
}

.dialog {
  border: 1px solid #51a7e8;
  border-radius: 4px;
  color: #fff !important;
  background: #101010 !important;
}

.led-color-green {
  color: #0f0;
}

.led-color-yellow {
  color: #cc0;
}

.led-color-red {
  color: #a44;
}

.led-color-gray {
  color: #888;
}

.warn-red {
  color: #f44;
}

.you {
  color: #2af;
}

.user-edit-field-name {
  width: 110px;
}

.session-info-head {
  vertical-align: bottom;
}

.timeline-span {
  color: #aaa;
  cursor: default;
}

.timeline-forward {
  color: #777;
}

.timeline-current {
  cursor: default;
}

.timeline-acc-ind {
  color: #0f0;
}

.timeline-acc-ind-past {
  opacity: 0.6;
}

.timeline-acc-ind-out {
  color: #d66;
}

.timeline-acc-ind-time {
  color: #ccc;
}

.wday-sat {
  color: #aed;
}

.wday-sun {
  color: #fa7;
}

.search-highlight {
  background: rgba(168,168,168,0.5) !important;
}

.list-info {
  color: #ccc;
}

#user-list {
  font-size: 12px;
}

#clock {
  color: #add396;
]
